extended_dictionary.dict.dz
en-cs.txt
extended_dictionary.idx
extended_dictionary.ifo
extended_dictionary.syn
extended_dictionary.txt
poetry.lock
temp.txt
czech-english-dict/czech-english.dict.dz
czech-english-dict/czech-english.idx
czech-english-dict/czech-english.ifo
